.label {
  @apply block font-semibold leading-4 text-gray-800 dark:text-gray-100;
}

.input {
  @apply block w-full rounded-md
    p-2 text-gray-900 shadow-sm
    ring-1 ring-inset ring-gray-300
    placeholder:text-gray-600
    focus:border-sky-300
    focus:ring-1 focus:ring-inset
    focus:ring-sky-300
    sm:leading-6;
}
